@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  line-height: 1.6;
}

:root {
  --color-bg: #2c2822;
  --color-btn: #dfae67;
  --color-txt: #a9a7a5;
}

body {
  position: relative;
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
}