@use 'mixins';

.container {
  background-color: #1d1710;

  .inner {
    @include mixins.max-width;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 470px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  svg {
    display: flex;
    width: 150px;
    height: 150px;
    @media screen and (max-width: 768px) {
      width: 120px;
      height: 120px;
    }
    @media screen and (max-width: 600px) {
      width: 100px;
      height: 100px;
    }
  }
}